#pageheader {
  background: url('../images/debian-logo.png') right no-repeat;
  cursor: pointer;
}

#pageheader .lead {
  padding-bottom: 0;
}

.navbar {
  margin-top: 20px;
}

.navbar .home-link .icon {
  background: url('../images/debian-logo-small.png') right no-repeat;
  width: 17px;
  height: 50px;
  margin-left: 10px;
}

#error {
  display: none;
}

.page {
  max-width: 1000px;
/*  margin: 0 auto;*/
  padding-bottom: 40px;
}

#home .dput pre {
  background: none;
  font-size: 15px;
  border: 0;
  padding: 0;
  margin: 0;
}

#welcome .btn-lg {
  margin: 10px;
}

aside .nav-pills li {
  line-height: 10px;
}

#sidebar {
  position: relative;
}

#sidebar .fixed {
  position: fixed;
  width: 220px !important;
  top: 0;
}

#sticky-package {
  display: none;
  position: fixed;
  bottom: 50px;
  font-size: 22px;
  cursor: pointer;
}
#sticky-package.on-top {
  top: 10px;
  right: 10px;
  z-index: 1;
}

#sticky-package .package .version,
#sticky-package .distribution,
#sticky-package .icon {
  font-size: 16px;
}

#sticky-package .panel-body {
  padding: 10px 15px;
  min-width: 200px;
}

#sticky-package .panel-heading {
  padding: 8px 15px;
}

#sticky-package .name {
  margin-right: 10px;
}

footer {
  height: 40px;
}
#wrapper {
  padding-bottom: 40px;
}

footer {
  position: fixed;
  padding-top: 10px;
  width: 100%;
  bottom: 0;
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
}

#packages li .icon {
  float: right;
  margin-top: -3px;
}

#status span {
  font-weight: bold;
  font-size: small;
}

#status > span.label {
  margin-right: 10px;
}

#status .debomatic {
  display: none;
}

#status .packages {
  display: inline;
}

#status .packages li a {
  position: relative;
  padding-right: 22px;
}

#status .packages li a .icon {
  position: absolute;
  top: 3px;
  right: 5px;
}

#preferences {
  font-size: 15px;
}

#preferences .select select {
  width: 68px;
  float:left;
  margin-right: 10px;
}

#preferences .select label {
  font-weight: normal;
  line-height: 35px;
}

#file .no-background {
  background: none;
  border: none;
  color: #101010;
}

#title a.btn {
  padding-right: 0;
  float: right;
}
