#header {
  background: url('../images/debian-logo.gif') right no-repeat;
  cursor: pointer;
}

aside .nav-pills li {
  line-height: 10px;
}

#sidebar {
  position: relative; 
}

#sidebar .fixed {
  position: fixed;
  width: 220px !important;
  top: 0;
}

#sticky-view {
  display: none;
  position: fixed;
  bottom: 50px;
  font-size: 22px;
  cursor: pointer;
}

#sticky-view .package .version,
#sticky-view .distribution,
#sticky-view .icon {
  font-size: 16px;
}

#sticky-view .panel-body {
  padding: 10px 15px;
  min-width: 200px;
}

#sticky-view .panel-heading {
  padding: 8px 15px;
}

footer {
  height: 40px;
}
#wrapper {
  padding-bottom: 40px;
}

footer {
  position: fixed;
  padding-top: 10px;
  width: 100%;
  bottom: 0;
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
}

#packages li .icon {
  float: right;
  margin-top: -3px;
}

#status span {
  font-weight: bold;
  font-size: small;
}

#status > span.label {
  margin-right: 10px;
}

#status .packages {
  display: inline;
}

#status .packages li a {
  position: relative;
  padding-right: 22px;
}

#status .packages li a .icon {
  position: absolute;
  top: 3px;
  right: 5px;
}

