<% include header.ejs %>

<nav>
  <ol class="breadcrumb">
  </ol>
</nav>

<div id="error" class="alert alert-danger">
  <strong>Oh snap!</strong> <span></span>
</div>

<article class="row">
  <aside id="sidebar" class="col-md-3">
    <nav id="packages">
      <h2>Packages</h2>
      <ul class="nav nav-pills nav-stacked"></ul>
    </nav>

    <div id="sticky" >
      <section id="files">
        <nav id="logs">
          <h3 class="title">Files</h3>
          <ul class="nav nav-pills nav-stacked"></ul>
        </nav>
        <div class="others">
          <nav id="sources">
            <h4>Sources
              <a class="btn btn-link" title="Get all sources in one click"  onclick="download_all('#sources')">
                <span class="glyphicon glyphicon-download-alt"></span>
              </a>
            </h4>
            <ul></ul>
          </nav>
          <nav id="debs">
            <h4>Debs
              <a class="btn btn-link" title="Get all debs in one click"  onclick="download_all('#debs')">
                <span class="glyphicon glyphicon-download-alt"></span>
              </a>
            </h4>
            <ul></ul>
          </nav>
        </div>
      </section>
      <section title="Back on Top" id="sticky-package">
        <div id="sticky-package-content">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="status pull-right"></span>
              <span class="name"></span>
            </h3>
          </div>
          <div class="panel-body">
            <div class="version"></div>
            <div class="distribution text-muted"></div>
          </div>
        </div>
      </section>
    </div>
  </aside>

  <section id="main" class="col-md-9">
    <header>
      <h1 id="title"></h1>
    </header>
    <div id="welcome"></div>
    <div id="file">
      <pre></pre>
      <div id="fileOffset"></div>
    </div>
  </section>
</article>

<% include footer.ejs %>
