<% include header.ejs %>

<article class="">
    <header><h2>History</h2></header>
    <div class="row" id="charts">
        <div class="col-md-4">
            <p class="lead text-muted">
                The log of builds
            </p>
            <div id="days-chart" class="ct-chart"></div>
        </div>
        <div class="col-md-4">
            <p class="lead text-muted">
                Total packages
            </p>
            <div id="distributions-chart" class="ct-chart"></div>
        </div>
        <div id="disk-usage" class="col-md-4">
            <p class="lead text-muted">
                Disk usage <span class="total-size"></span>
            </p>
            <div id="disk-chart" class="ct-chart"></div>
        </div>
    </div>
    <div class="body" style="display: none">
        <a id="download" class="btn btn-primary" data-trigger="hover" data-toggle="popover" title="Export to CSV" data-placement="right" data-content="Save the packages displayed in the table in format CSV. You can filter out packages by selecting distributions, a status, specifying a date or an uploader.">Download current view</a>
        <table id="history" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-select filter-exact" data-placeholder="All">Distribution</th>
                    <th>Package</th>
                    <th data-empty="top" data-placeholder=">= 01/01/1990">Start</th>
                    <th data-empty="top" data-placeholder=">= 01/01/1990">End</th>
                    <th class="filter-select filter-exact" data-placeholder="All">Uploader</th>
                    <th class="filter-select filter-exact" data-placeholder="All">Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</article>
<% include footer.ejs %>
