<% include header.ejs %>

<article class="page">
    <header><h2>History</h2></header>
    <p class="lead text-muted">
        The log of packages
    </p>
    <script> var dom_history = <%- JSON.stringify(history) %> </script>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Distribution</th>
                <th>Package</th>
                <th>Uploader</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</article>
<% include footer.ejs %>
