<% include header.ejs %>

<article class="page">
    <header><h2>History</h2></header>
    <p class="lead text-muted">
        The log of packages
    </p>
    <div id="charts">
        <div id="days-chart" class="ct-chart"></div>
        <div id="distributions-chart" class="ct-chart"></div>
    </div>
    <div class="body" style="display: none">
        <a id="download" class="btn btn-primary">Download current view</a>
        <table id="history" class="tablesorter">
            <thead>
                <tr>
                    <th class="filter-select filter-exact" data-placeholder="All">Distribution</th>
                    <th>Package</th>
                    <th data-empty="top" data-placeholder=">= 01/01/1990">Start</th>
                    <th data-empty="top" data-placeholder=">= 01/01/1990">End</th>
                    <th class="filter-select filter-exact" data-placeholder="All">Uploader</th>
                    <th class="filter-select filter-exact" data-placeholder="All">Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</article>
<% include footer.ejs %>
