<header>
  <h1><%= title %></h1>
  <p class="lead"><%= description %></p>
</header>

<nav id="distributions">
  <ul></ul>
</nav>
<div class="wrapper">
  <article class="row">
    <aside class="col-md-3">
      <nav id="packages">
        <h1>Packages</h1>
        <ul></ul>
      </nav>
      
      <section>
        <nav id="files">
          <ul></ul>
        </nav>
        <nav id="archives">
          <ul></ul>
        </nav>
        <nav id="debs">
          <ul></ul>
        </nav>
      </section>

    </aside>


    <section class="col-md-9">
      <header>
      </header>
      <pre id="file"></pre>
    </section>
  </article>
</div>
<footer><%= footer %></footer>
