<header>
  <h1><%= title %></h1>
  <p><%= description %></p>
</header>

<nav id="distributions">
  <h1>Availabe distributions:</h1>
  <ul></ul>
</nav>

<aside>
  <nav id="packages">
    <h1>Packages</h1>
    <ul></ul>
  </nav>
  
  <section>
    <nav id="files">
      <ul></ul>
    </nav>
    <nav id="archives">
      <ul></ul>
    </nav>
    <nav id="debs">
      <ul></ul>
    </nav>
  </section>

</aside>


<section>
  <header>
  </header>
  <pre id="file"></pre>
</section>

<footer><%= footer %></footer>
