<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    
    <script src='//code.jquery.com/jquery-1.7.2.min.js'></script>
    <script src='//localhost:3000/socket.io/socket.io.js'></script>
    <script src="/libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src='/javascripts/debomatic-webui.js'></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
